/* 内减模式 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 清除浮动 */
.clearfix::before,.clearfix::after{
    content: "";
    display: table;
}
.clearfix::after{
    clear: both;
}

/* 设置背景图片 */
body{
   /* background-image: url("../image/register/register.jpg");
   background-size: cover; */
   background-color: rgba(174,127,71,0.6);
}

/* 设置注册页面的边框 */
.register{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 550px;
    background-color: rgba(0,0,0,0.3);
    text-align: center;
    padding-top: 50px;
    border-radius: 30px;
}

.register h1{
    height: 70px;
    line-height: 70px;
    font-size: 40px;
    font-family: KaiTi, SimKai, "STKaiti", "楷体", sans-serif;
}


.register .username,.password,.confirm-password,.email,.telephone,.address,.gender,.birthday{
    height: 26px;
}

.register .username label,.password label,.confirm-password label,.email label,.telephone label,.address label{
    float:left;
    margin-left: 450px;
    width:100px;
    font-size: 16px;
    line-height: 26px;
}

.register .username input,.password input,.confirm-password input,.email input,.telephone input,.address input{
    float:left;
    margin-top: 3px;
    padding-left: 5px;
    width:180px;
    height:20px;
}

.register .username span,.password span,.confirm-password span,.email span,.telephone span,.address span{
    float: left;
    margin-left: 20px;
    font-size: 14px;
    line-height:20px;
    color:red;
}

.register .gender .select{
    float: left;
    margin-left: 550px;
}

.register .gender span{
    float: left;
    margin-left: 20px;
    font-size: 14px;
    line-height:20px;
    color:red;
}

.register .birthday label{
    float: left;
    margin-left: 460px;
    line-height: 20px;
}

.register .birthday input{
    float: left;
    margin-left: 10px;
    padding-left: 5px;
}

.register .birthday span{
    float: left;
    margin-left: 20px;
    font-size: 14px;
    line-height:20px;
    color:red;
}

.datepicker {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: white;
  }

.register .captcha{
    height:50px;
}

.register .captcha input{
    float:left;
    margin-left: 450px;
    margin-top: 15px;
    padding-left: 5px;
    height:20px;
    width:180px;
}

.register .captcha img{
    float: left;
    margin-left: 5px;
    margin-top:5px;
}

.register .captcha a{
    float: left;
    margin-left: 5px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
}

.register .captcha span{
    float: left;
    margin-left: 20px;
    margin-top: 15px;
    font-size: 14px;
    line-height:20px;
    color:red;
}

.captcha #refresh-btn{
    color:black;
}

/* 设置提交和重置按钮 */
.register .choice input{
    margin:20px;
    background-color: gray;
    width: 50px;
    height:30px;
    font-size: 16px;
    line-height:20px;
    border:1px solid black;
}

.register .choice input:hover{
    border: 2px solid #00a4ff;
}

#returnIndex{
    color: black;
}

.hidden-footer{
    width: 100%;
    height: 55px;
}

.footer{
    position: fixed;
    left:0;
    bottom: 0;
    width:100%;
    height:55px;
    background-color: rgb(174,127,71);
}

.footer .wrapper p{
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
}